header {
  /* background-color: var(--bg-color); */
  padding: 1rem;
}
header form {
  margin: 0 auto;
  max-width: 320px;
}
.tmdb{
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.search {
  border: transparent;
  background-color: var(--light-color);
  /* border-radius: 50px; */
  color: var(--bg-color);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  background-color: #ecedf5;
  color: #101131;
  outline: 0;
}

.movie img {
  height: 440px;
  object-fit: cover;
  max-width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
}

.movie {
  background-color: var(--primary-color);
  width: 250px;
  margin: 1rem ;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.movie:hover {
  background-color: var(--primary-light-color);
}
.movie:hover img{
  scale: 1.05;
}

.img-container{
  overflow: hidden;
}

.movie img {
  max-width: 100%;
  transition: 0.6s;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
}

.movie-info h3 {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:400;
  text-decoration: none;
  color: var(--bg-color);
}

.movie-overview {
  position: absolute;
  background-color: var(--bg-color);
  color: var(--bg-color);
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
}

.overview-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  background-color: var(--bg-color);
  color: #ecedf5;
}

.overview-text {
  padding: 1rem 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: 'Orbitron', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}

.info-movie {
  margin: 1.3rem 0;
}

.badge {
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
  width: 35px;
  min-width: 35px;
  text-align: center;
}
.badge.green {
  color: rgb(0, 197, 0);
}
.badge-details.green {
  background-color: rgb(0, 197, 0);
  color: var(--bg-color);
}
.badge.yellow {
  color: yellow;
}
.badge-details.yellow {
  background-color: yellow;
  color: var(--bg-color);
}
.badge.orange {
  color: rgb(255, 145, 0);
}
.badge-details.orange {
  background-color: rgb(255, 145, 0);
  color: var(--bg-color);
}
.badge.red {
  color: rgb(246, 46, 46);
}
.badge-details.red {
  background-color: rgb(246, 46, 46);
  color: var(--bg-color);
}

/* pages */
.pages {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.pages-btn,
.pages-change {
  font-size: 1.2rem;
  list-style-type: none;
  color: var(--primary-color);
  border-radius: 5px;
  width: 100%;
  display: inline;
  cursor: pointer;
}

.pages-btn.disabled {
  opacity: 0.2;
}
.pages-btn.disabled:hover {
  background: none;
  color: var(--primary-color);
}

.pages-btn {
  display: inline;
  padding: 0.3rem 0.3rem;
  margin: 1rem 0.2rem;
  color: var(--primary-color);
}
.pages-li {
  display: inline;
  list-style-type: none;
}

.pages-break {
  display: inline;
  padding: 0.3rem 0.3rem;
  margin: 1rem 0.2rem;
}
.pages-change {
  border: solid 1px var(--primary-color);
  padding: 0.3rem 0.6rem;
  margin: 1rem 0.4rem;
}

.pages-active {
  background: var(--primary-color);
  color: var(--bg-color);
}

.pages-inactive {
  font-size: 1.2rem;
  list-style-type: none;
  color: var(--primary-faded-color);
  border-radius: 10px;
  width: 100%;
  display: inline;
  padding: 0.3rem 0.4rem;
  margin: 1rem 0.2rem;
}

.pages-inactive:hover {
  cursor: default;
}

.pages-btn:hover,
.pages-change:hover {
  color: var(--primary-light-color);
}



/* movie details */

.shadow {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
}

.card {
  width: 85vw;
  margin: auto;
  height: 95vh;
  background-color: var(--bg-color);
  position: relative;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--light-color);
}

.info-title {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 1rem 0;
}

.poster-img {
  height: 30rem;
}

.info-header {
  display: flex;
  flex-direction: row;
  background: none;
}

.info-tagline {
  color: var(--stroke-color);
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.info-votes {
  color: var(--stroke-color);
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.close {
  /* border-radius: 50%; */
  height: 2.5rem;
  width: 2.5rem;
  background: var(--primary-faded-color);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.close:hover {
  background: var(--primary-color);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: var(--bg-color);
  margin-left: 0.3rem;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.wrap-info {
  padding: 1rem 3rem;
}



.info-secondary {
  margin: 0.5rem 0;
}

.info-tags {
  margin-top: 1.3rem;
}

.info-text {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.info-text h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.info-text p {
  margin: 0;
}

.writer-title,
.director-title {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.writer-name,
.director-name {
  margin-left: 0.5rem;
  font-weight: 400;
}

.info-tag {
  color: var(--light-color);
  padding: 0.2em 0.8em;
  border-radius: 20px;
  background: transparent;
  border: 1px solid var(--light-color);
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.page-link {
  background: var(--primary-faded-color);
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: var(--bg-color);
  margin: 0;
  border-radius: 20px;
}

.page-link:hover {
  background: var(--primary-color);
}

/* cast */
.cast {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cast-wrap {
  display: flex;
  flex-direction: row;
}

.cast-title {
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1rem;
  margin-left: 1rem;
}

.actor {
  margin: 1rem;
}

.actor-img {
  height: 10rem;
  width: 106px;
  object-fit: cover;
}

.actor-name {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.actor-char {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

@media (max-width: 1200px) {
.title {
  text-align: left;
  font-size: 2.2rem;
  line-height: 53px;
  margin: 0 auto 1rem auto;
}

.tmdb{
  position: absolute;
  top: 1rem;
  right: 0;
  width: 4.5rem;
}
ul{
  margin: 0;
  padding: 0;
}
.pages-btn{
  font-size: 1.1rem;
  padding: 0.1rem 0.15rem;
}

.card {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  overflow-y: auto;
}

.poster-img {
  display: none;
}

.wrap-info {
  padding: 0;
  margin-top: 1rem;
  width: 100%;
}

.info-title {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.info-tagline {
  color: var(--stroke-color);
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.info-tags {
  margin-top: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}

.info-tag {
  padding: 0;
  border-radius: 0;
  background: transparent;
  border: none;
  margin-right: 0.8rem;
  font-size: 0.8rem;
}


/* cast */
.cast {
  margin-top: 2rem;
}

.cast-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.cast-title {
  margin: 0;
  text-align: center;
}

.actor {
  margin: 1rem;
  max-width: 100px;
}
}