header {
  background-color: #373b69;
  padding: 1rem;
}

.search {
  border: 2px solid #101131;
  background-color: transparent;
  border-radius: 50px;
  color: #ecedf5;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  background-color: #ecedf5;
  color: #101131;
  outline: 0;
}

.movie img {
  height: 440px;
  object-fit: cover;
  max-width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  width: 250px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
}

.movie-info h3 {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.movie-overview {
  position: absolute;
  background-color: #ecedf5;
  color: #101131;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  min-height: 100%;
}

.overview-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  background-color: #373b69;
  color: #ecedf5;
}

.overview-text {
  padding: 1rem 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: 'Orbitron', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.badge {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.info-movie {
  margin: 1.3rem 0;
}

.badge.green {
  color: green;
}

.badge.yellow {
  color: yellow;
}

.badge.orange {
  color: orange;
}

.badge.red {
  color: red;
}

/* movie details */

.shadow {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
}

.card {
  width: 85vw;
  margin: auto;
  height: 95vh;
  background-color: #373b69;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.poster-img {
  height: 30rem;
}

.info-header {
  display: flex;
  flex-direction: row;
  background: none;
}

.info-tagline {
  color: #ecedf5b0;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.info-votes {
  color: #ecedf5b0;
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.close {
  /* border-radius: 50%; */
  height: 2.5rem;
  width: 2.5rem;
  background: #999ba8;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.close:hover {
  background: #c2c3d1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #373b69;
  margin-left: 0.3rem;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.wrap-info {
  padding: 1rem 3rem;
}

.info-title {
  margin: 1rem 0;
}

.info-secondary {
  margin: 0.5rem 0;
}

.info-tags {
  margin-top: 1.3rem;
}

.info-text {
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.info-text h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.info-text p {
  margin: 0;
}

.writer-title,
.director-title {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.writer-name,
.director-name {
  margin-left: 0.5rem;
  font-weight: 400;
}

.info-tag {
  color: #22254B;
  padding: 0.2em 0.5em;
  border-radius: 20px;
  background: #ecedf5b0;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.page-link {
  background: #22254B;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  border-radius: 20px;
}

.page-link:hover {
  background: #0d1038;
}

/* cast */
.cast {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cast-wrap {
  display: flex;
  flex-direction: row;
}

.cast-title {
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1rem;
  margin-left: 1rem;
}

.actor {
  margin: 1rem;
}

.actor-img {
  height: 10rem;
  width: 106px;
  object-fit: cover;
}

.actor-name {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.actor-char {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}