@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;

  --primary-color: #089D59;
  --primary-light-color: #31CE81;
  --primary-faded-color: #26764E;
  --primary-dark-color: #0c2e1d;
  --bg-color: #1B1E1C;
  --stroke-color: #898f99;
  --light-color: #BBBEC3;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

a{
  text-decoration: none;
  color: inherit;
}